.colorContainer {
    display: flex;
    flex-direction: column;
}

.colorTitle {
    margin: 0;
    width: fit-content;
}

.colorPreview {
    border-radius: 7.5px;
    width: 25px;
    height: 25px;
    align-self: center;
}

.colorField {
    flex: none;
    display: flex;
    padding: 15px 0;
    gap: 10px;
}

.colorInputContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.colorInput {
    padding: 4px 6px 4px;
    border: 1px solid rgb(51, 56, 59);
    background-color: rgb(51, 56, 59);
    font-size: 15px;
    color: inherit;
    outline: none;
    border-radius: 7.5px;
    width: 2em;
    text-align: center;
}

.colorButton {
    background-color: transparent;
    border: none;
    color: rgba(241, 241, 242, 0.65);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
}

.colorButton:hover {
    color: rgba(241, 241, 242, 1);
}

.colorTip {
    font-size: 10px;
    font-weight: 600;
}

.colorInput::-webkit-outer-spin-button,
.colorInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
