.nickField {
    flex: none;
    display: flex;
}

.nickInput {
    padding: 4px 6px 4px;
    border: 1px solid rgb(51, 56, 59);
    background-color: rgb(51, 56, 59);
    font-size: 15px;
    color: inherit;
    outline: none;
    border-radius: 7.5px;
    width: 135px;
}

.nickButton {
    background-color: transparent;
    border: none;
    color: rgb(130 134 137);
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}
