.nickContainer {
    display: flex;
    flex-direction: column;
}

.nickTitle {
    margin: 0;
}

.nickField {
    flex: none;
    display: flex;
    padding: 15px 0;
    gap: 10px;
}

.nickInput {
    padding: 4px 6px 4px;
    border: 1px solid rgb(51, 56, 59);
    background-color: rgb(51, 56, 59);
    font-size: 15px;
    color: inherit;
    outline: none;
    border-radius: 7.5px;
    width: 135px;
}

.nickButton {
    background-color: transparent;
    border: none;
    color: rgba(241, 241, 242, 0.65);
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}
