.passwordContainer {
    display: flex;
    flex-direction: column;
}

.passwordContainer svg {
    font-size: 20px;
}

.passwordTitle {
    margin: 0;
}

.passwordField {
    flex: none;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    gap: 10px;
}

.oldPasswordInputContainer {
    padding-bottom: 15px;
}

.passwordInput {
    padding: 4px 6px 4px;
    border: 1px solid rgb(51, 56, 59);
    background-color: rgb(51, 56, 59);
    font-size: 15px;
    color: inherit;
    outline: none;
    border-radius: 7.5px;
    width: 135px;
}

.passwordInputLabel {
    color: rgba(241, 241, 242, 0.65);;
    display: flex;
    align-content: space-between;
    gap: 10px;
    align-items: center;
}

.passwordInputLabel span {
    padding-left: 5px;
}

.passwordButton {
    background-color: transparent;
    border: none;
    color: rgba(241, 241, 242, 0.65);
    font-size: 15.5px;
    cursor: pointer;
    display: inline-flex;
    gap: 5px;
    align-items: center;
}
