@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --header-height: 66px
}

body {
    background: rgb(9, 14, 17);
    margin: 0px;
}

html, body, #root, .container {
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Lucida Grande', 'Arial', 'Ubuntu', 'Cantarell', 'Fira Sans', sans-serif;

}

.app {
    display: flex;
    flex-direction: column;
    background: rgb(42, 47, 50);
    color: rgba(241, 241, 242, 0.9);
    line-height: 1.4;
    z-index: 0;
}

.app, .sidePanelContainer.narrow, .messageMenuBkg {
    height: 100%;
    width: 100%;
    max-width: 850px;
}

.textField {
    flex: 1;
    overflow-y: scroll;
    background: rgb(13, 20, 24);
    background-image: url(assets/bkg_image_opacity_006.png);
    background-repeat: repeat;
    background-position: center;
    display: flex;
    padding-bottom: 12px;
    flex-direction: column;
    align-items: flex-start;
}

.topBar {
    padding: 10px 16px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
}

.topBar, .upperSidePanel {
    height: var(--header-height);
}

.topBarLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    min-width: 0;
    cursor: pointer;
}

.topBarRight {
    display: flex;
    align-items: center;
}

.topBarTitle {
    color: rgba(241, 241, 242, 0.92);
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}

.topBarText {
    color: rgba(241, 241, 242, 0.63);
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    hyphens: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messageField {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 4px;
    padding: 5px 10px;
    background-color: rgb(30 36 40);
}

.textInput {
    flex: 1;
    padding: 9px 12px 9px;
    border: 1px solid rgb(51, 56, 59);
    background-color: rgb(51, 56, 59);
    margin: 5px 10px 5px 0px;
    font-size: 15px;
    color: inherit;
    outline: none;
    border-radius: 19px;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    font-family: inherit;
}

.sendButton {
    background-color: transparent;
    border: none;
    color: rgb(130 134 137);
    font-size: 20px;
    cursor: pointer;
}

.nickField {
    flex: none;
    display: flex;
}

.nickInput {
    padding: 4px 6px 4px;
    border: 1px solid rgb(51, 56, 59);
    background-color: rgb(51, 56, 59);
    font-size: 15px;
    color: inherit;
    outline: none;
    border-radius: 7.5px;
    width: 135px
}

.nickButton {
    background-color: transparent;
    border: none;
    color: rgb(130 134 137);
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.message {
    padding: 4px 8px 4px 8px;
    background-color: rgb(38, 45, 49);
    margin: 12px 10px 0px;
    border-radius: 7.5px;
    max-width: 75%;
    overflow-wrap: anywhere;
    hyphens: auto;
    position: relative;
}

.message.own {
    background-color: rgb(5, 97, 98);
    align-self: flex-end;
}

.messageMenuBkg {
    position: absolute;
    background-color: transparent;
    z-index: 2;
}

.messageMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(42, 47, 50);
    padding: 10px;
    border-radius: 7.5px;
    box-shadow: 0 0 5px rgb(0,0,0);
    z-index: 2;
}

.deleteMsgButton {
    border: none;
    background-color: inherit;
    color: rgba(241, 241, 242, 0.92);
    cursor: pointer;
}

.msgMenuButton {
    position: absolute;
    border-bottom-left-radius: 50px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 0 5px 6px 6px;
    color: rgba(241, 241, 242, 0.6);
    opacity: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    z-index: 1;
    right: 0;
}

.msgMenuButton:hover {
    opacity: 1;
}

.message-user {
    font-weight: 500;
    font-size: 14px;
    color: orchid;
}

.message-body {
    max-height: 30vh;
    overflow-y: auto;
    background-color: inherit;
}

.message-text {
    white-space: break-spaces;
    padding-right: 3px;
    border: solid transparent;
    border-width: 0px 0px 3px;
}

.message.own .message-text {
    border: solid transparent;
    border-width: 3px 0px;
}

.message-time {
    font-size: 12px;
    color: rgba(241, 241, 242, 0.6);
    text-align: right;
    white-space: nowrap;
    margin: 5px 5px 0px;
    padding: 5px 5px 0px;
    float: right;
    position: sticky;
    bottom: 0;
    background-color: inherit;
    border-radius: 5px;
}

.message.followup {
    margin-top: 3px;
}

.textField::-webkit-scrollbar {
    width: 6px;
}

.textField::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.textField::-webkit-scrollbar-thumb {
    background-color: rgba(82, 82, 82, 0.7);
    border-radius: 10px;
}

.message-body::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

.message-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px inherit;
}

.message-body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.toast {
    background-color: rgb(30, 42, 48);
    border-radius: 7.5px;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
    text-align: center;
    padding: 5px 12px 6px;
    align-self: center;
    margin: 12px 10px 0px;
}

.toast-text {
    max-width: 100%;
    font-size: 12.5px;
    line-height: 21px;
    color: rgba(241, 241, 242, 0.92);
}

.sidePanelContainer.wide {
    position: relative;
}

.sidePanel.wide {
    height: 100%;
    right: 0;
    position: absolute;
}

.sidePanelContainer.narrow {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(42, 47, 50, 0.5);
    max-height: calc(100% - var(--header-height));
    margin-top: var(--header-height);
}

.sidePanel.narrow {
    background-color: transparent;
    margin: 12px 0 10vh;
}

.upperSidePanel.narrow {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lowerSidePanel.narrow {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidePanel {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 160px;
    background: rgb(5, 97, 98);
    box-sizing: border-box;
}

.upperSidePanel {
    display: flex;
    background-color: rgb(42, 47, 50);
    font-weight: 500;
    font-size: 20px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: rgba(241, 241, 242, 0.9);
}

.lowerSidePanel {
    background: rgb(5, 97, 98);
    overflow-y: scroll;
    padding: 0px 10px 5px;
    flex: 1;
}


.lowerSidePanel::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

.lowerSidePanel::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
}

.lowerSidePanel::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80%;
    box-sizing: border-box;
    margin: 15px 10px 0px;
    font-size: 14px;
    color: hsla(240, 4%, 80%, 0.73);
}

.user::after {
    content: "";
    padding: 0px 0px 15px;
    display: block;
    align-self: center;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0);
    width: 120%;
}

.user-name {
    font-weight: 600;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(241, 241, 242, 0.73);

}

.user-activity {
    white-space: nowrap;
    padding: 1px 0px;

}

.user-activity.plainText {
    font-weight: 400;
}

.user-activity.fancyText {
    font-weight: 500;
}

.user-loc {
    text-overflow: ellipsis;

}

.user-loc svg {
    vertical-align: middle;
}
