@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --header-height: 66px
}

body {
    background: rgb(9, 14, 17);
    margin: 0px;
}

html, body, #root, .container {
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Lucida Grande', 'Arial', 'Ubuntu', 'Cantarell', 'Fira Sans', sans-serif;

}

.app {
    display: flex;
    flex-direction: column;
    background: rgb(42, 47, 50);
    color: rgba(241, 241, 242, 0.9);
    line-height: 1.4;
    z-index: 0;
}

.app, .messageMenuBkg {
    height: 100%;
    width: 100%;
    max-width: 850px;
}

.textField {
    flex: 1;
    overflow-y: scroll;
    background: rgb(13, 20, 24);
    background-image: url(assets/bkg_image_opacity_006.png);
    background-repeat: repeat;
    background-position: center;
    display: flex;
    padding-bottom: 12px;
    flex-direction: column;
    align-items: flex-start;
}

.topBar {
    padding: 10px 16px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
}

.topBar, .upperSidePanel {
    height: var(--header-height);
}

.topBarLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    min-width: 0;
    cursor: pointer;
}

.topBarRight {
    display: flex;
    align-items: center;
}

.topBarTitle {
    color: rgba(241, 241, 242, 0.92);
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}

.topBarText {
    color: rgba(241, 241, 242, 0.63);
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    hyphens: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messageBodyField {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 4px;
    padding: 5px 10px;
    background-color: rgb(30 36 40);
}

.messageField-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 7.5%;
    max-height: 50vh;
    overflow-x: hidden;
}

.messageField-image {
    width: 50%;
    height: auto;
    border-radius: 7.5px;
}

.closeImagePreviewButton {
    font-size: 25px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: rgb(130 134 137);
    margin-bottom: 10px;
}

.attachButton {
    visibility: hidden;
    display: none;
}

.attachLabel {
    background-color: transparent;
    border: none;
    color: rgb(130 134 137);
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: rotate(225deg);
    padding: 1px 6px;
}

.textInput {
    flex: 1;
    padding: 9px 12px 9px;
    border: 1px solid rgb(51, 56, 59);
    background-color: rgb(51, 56, 59);
    margin: 5px 10px;
    font-size: 15px;
    color: inherit;
    outline: none;
    border-radius: 19px;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    font-family: inherit;
}

.sendButton {
    background-color: transparent;
    border: none;
    color: rgb(130 134 137);
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nickField {
    flex: none;
    display: flex;
}

.nickInput {
    padding: 4px 6px 4px;
    border: 1px solid rgb(51, 56, 59);
    background-color: rgb(51, 56, 59);
    font-size: 15px;
    color: inherit;
    outline: none;
    border-radius: 7.5px;
    width: 135px
}

.nickButton {
    background-color: transparent;
    border: none;
    color: rgb(130 134 137);
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.messageMenuBkg {
    position: absolute;
    background-color: transparent;
    z-index: 2;
}

.messageMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(42, 47, 50);
    padding: 10px;
    border-radius: 7.5px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    z-index: 2;
    align-items: flex-start;
    gap: 10px;
}

.actionMsgButton {
    border: none;
    background-color: inherit;
    color: rgba(241, 241, 242, 0.92);
    cursor: pointer;
    font-size: 14px;
}

.textField::-webkit-scrollbar {
    width: 6px;
}

.textField::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.textField::-webkit-scrollbar-thumb {
    background-color: rgba(82, 82, 82, 0.7);
    border-radius: 10px;
}
