.errorContainer {
    background: rgb(42, 47, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgba(241, 241, 242, 0.7);
    gap: 30px;
}

.errorText {
    font-size: 20px;
}

.errorAlertIcon {
    vertical-align: middle;
    margin-right: 5px;
}

.errorButton {
    cursor: pointer;
    border: none;
    border-radius: 7.5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: hsl(240, 4%, 95%);
    color: rgb(51, 56, 59);
    padding: 8px 15px;
    gap: 5px;
}

.errorButton:hover {
    background-color: hsl(240, 4%, 80%);
}

.errorButton span {
    font-size: 17px;
}
