.user {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80%;
    box-sizing: border-box;
    margin: 15px 10px 0px;
    font-size: 14px;
    color: hsla(240, 4%, 80%, 0.73);
}

.user::after {
    content: "";
    padding: 0px 0px 15px;
    display: block;
    align-self: center;
    border-bottom: 1px solid;
    border-color: rgb(42, 47, 50);
    width: 120%;
}

.user-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
}

.user-connected {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    border: 1px solid rgb(42, 47, 50);
    flex: none;
}

.user-name {
    font-weight: 600;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(241, 241, 242, 0.73);

}

.user-activity {
    white-space: nowrap;
    padding: 1px 0px;

}

.user-activity.plainText {
    font-weight: 400;
}

.user-activity.fancyText {
    font-weight: 500;
}

.user-loc {
    text-overflow: ellipsis;

}

.user-loc svg {
    vertical-align: middle;
}
